@media (max-width: 992px) {
    .side-bar {
        display: none !important;
    }
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px)); /* Adjust minmax and breakpoints as needed */
    gap:50px;
    padding: 0px 20px;
    margin: 5px;
    justify-content: space-evenly;
}

.item-title:hover {
    text-decoration: underline !important;
    color: black !important;
}

.category {
    font-weight: normal !important;
}

.filter-container {
    border-right: 2px solid #E3E3E3;
}

.container-title-category {
    text-align: center;
}