@media (max-width: 992px) {
    .sidebar {
      display: none !important; 
    }

    .ad-container {
        flex-basis: 100% !important; 
    }

  }

@media (min-width: 993px) {
    .sidebar {
      display: block !important; 
    }
  }



